{% extends 'file.html' %}

{% block content %}

<div class=" mx-5 text-center ">
    <div class="row d-flex justify-content-center " >
    <button type="submit" class="btn btn-light row d-flex justify-content-center  ">
    <a href="https://storage.googleapis.com/composable-binaries/cl-1-{{ month }}-{{ day }}-{{ year }}.zip">Download</a>
        
    </button>
    
</div>

<div class="row d-flex justify-content-center my-5">
    <h4>
    storage.googleapis.com/composable-binaries/cl-1-{{ month }}-{{ day }}-{{ year }}.zip
    </h4>
</div>
{% endblock %}